:root {
    --main-color: #4980ff;
    --main-light-color: #5f8fff;
    --main-highlight-color: #cadaff;
    --main-dark-color: #3b72f3;
    --main-txt-color: #333333;
    --white-color: #ffffff;
    --black-color: #000000;
    --dark-color: #222c3c;
    --red-color: #e74c3c;
    --green-color: #2ecc71;
    --body-color: #edf2f6;
}

body,
html {
    background: var(--body-color);
    color: #333333;
    height: 100%;
}

h1 {
    font-size: 25px;
    color: #333333;
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #edf2f6;
}

h2 {
    font-size: 18px;
    color: #333333;
    margin-bottom: 30px;
    font-weight: 600;
}

a:link {
    -webkit-transition: .2s all ease-in;
    transition: .2s all ease-in;
    text-decoration: none;
    color: var(--main-color);
}

a:hover,
a:focus {
    -webkit-transition: .2s all ease-in;
    transition: .2s all ease-in;
    text-decoration: none;
    color: var(--main-dark-color)
}

/* Pace theme */

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Calendar plugin styles */

#v-cal *,
#v-cal :after,
#v-cal :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

#v-cal {
    background-color: var(--white-color);
    border-radius: 0;
    border: 1px solid var(--main-highlight-color);
    -webkit-box-shadow: 0 4px 22px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 4px 22px 0 rgba(0, 0, 0, .05);
    margin: 0 auto;
    overflow: hidden;
    width: 100%
}

#v-cal .vcal-btn {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-appearance: button;
    background: none;
    border: 0;
    color: inherit;
    cursor: pointer;
    font: inherit;
    line-height: normal;
    min-width: 27px;
    outline: none;
    overflow: visible;
    padding: 0;
    text-align: center
}

#v-cal .vcal-btn:active {
    border-radius: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(16, 152, 158, .1);
    box-shadow: 0 0 0 2px rgba(16, 152, 158, .1)
}

#v-cal .vcal-header {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 19.2px 22.4px;
    padding: 1.2rem 1.4rem
}

#v-cal .vcal-header svg {
    fill: var(--main-color)
}

#v-cal .vcal-header__label {
    font-weight: 700;
    text-align: center;
    width: 100%
}

#v-cal .vcal-week {
    background-color: #fefefe;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

#v-cal .vcal-week span {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 14.28%;
    flex: 0 0 14.28%;
    font-size: 19.2px;
    font-size: 1.2rem;
    font-weight: 700;
    max-width: 14.28%;
    padding: 19.2px 22.4px;
    padding: 1.2rem 1.4rem;
    text-align: center;
    text-transform: uppercase
}

#v-cal .vcal-body {
    background-color: #f7f7f7;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

#v-cal .vcal-body,
#v-cal .vcal-date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

#v-cal .vcal-date {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: var(--white-color);
    border-radius: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 14.28%;
    flex: 0 0 14.28%;
    max-width: 14.28%;
    padding: 19.2px 0;
    padding: 1.2rem 0
}

#v-cal .vcal-date--active {
    cursor: pointer
}

#v-cal .vcal-date--today {
    background-color: var(--main-color);
    color: var(--white-color)
}

#v-cal .vcal-date--selected {
    background-color: var(--body-color);
    color: var(--dark-color)
}

#v-cal .vcal-date--disabled {
    border-radius: 0;
    cursor: not-allowed;
    opacity: .5
}

/*  */

.ui-block {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #e6ecf5;
    margin-bottom: 15px;
}

.ui-block__footer {
    position: relative;
    margin: 1.5rem -1.5rem -1.5rem;
    border-top: 1px solid var(--body-color);
    padding: 1rem 1.5rem;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: var(--main-color);
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}

header {
    position: relative;
}

.main-header {
    height: 51px;
    background-color: var(--main-color);
    color: var(--white-color);
}

.red-color {
    color: var(--red-color) !important;
}

.green-color {
    color: var(--green-color) !important;
}

.logo-main {
    max-height: 45px;
}

#ecology .content {
    height: 300px;
}

.utility-belt li span {
    font-size: 18px;
}

.utility-belt li {
    position: relative;
    margin: 0 20px;
    border-right: 1px solid var(--main-dark-color);
    padding: 0 20px;
}

.utility-belt li:last-child {
    margin: 0;
    padding: 0;
    border: none;
}

.utility-belt li a {
    color: var(--white-color);
    text-decoration: none !important;
    display: block;
    position: relative;
}

.notific-icon {
    width: 8px;
    height: 8px;
    position: absolute;
    border-radius: 100%;
    background-color: var(--red-color);
    top: -3px;
    right: -3px;
}

.dropdown-large {
    min-width: 30rem;
}

.notification-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.notification-list li {
    padding: 10px;
    border-bottom: 1px solid var(--body-color);
    font-size: 13px;
    margin: 0;
    border-right: none;
}

.notification-list li:last-child {
    padding: 10px;
}

.notification-list li:hover {
    background: var(--body-color);
}

.notification-list li a {
    text-decoration: none;
}

.user__img {
    border-radius: 100%;
    width: 35px;
    height: 35px;
    margin-right: 15px;
}

.user__info small {
    display: block;
    line-height: 1;
    font-size: 70%;
    font-weight: normal;
}

.user__info {
    font-weight: 600;
}

.utility-belt .profile-drop a {
    color: var(--main-txt-color);
}

.dropped .lnr-chevron-down {
    font-size: 14px;
}

.navbar-nav.main-menu li.nav-item a.nav-link {
    color: var(--white-color);
    text-align: center;
}

.navbar-nav.main-menu li.nav-item.active a.nav-link {
    color: var(--white-color);
}

.main-nav {
    padding: 5px 15px !important;
}

.navbar-brand {
    margin: 0 0 0 20px;
}

@media (min-width: 768px) {
    .main-nav {
        padding: 0 !important;
    }
    .navbar-nav.main-menu li.nav-item a.nav-link {
        padding: 15px 20px;
        border-right: 1px solid var(--main-dark-color);
    }
    .navbar-nav.main-menu li.nav-item:first-child a.nav-link {
        border-left: 1px solid var(--main-dark-color);
    }
    .navbar-brand {
        margin: 0;
        padding: 0;
        width: 250px;
        text-align: center;
    }
}

.navbar.main-nav {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.navbar-nav.main-menu li.nav-item a.nav-link {
    -webkit-transition: all ease-in 0.2s;
    transition: all ease-in 0.2s;
}

.navbar-nav.main-menu li.nav-item a.nav-link:hover {
    background: var(--main-dark-color);
    -webkit-transition: all ease-in 0.2s;
    transition: all ease-in 0.2s;
}

.navbar-toggler {
    padding: 0;
    border: none;
}

@media (max-width: 768px) {
    div#navbarNav {
        position: absolute;
        top: 100%;
        background: #f8f9fa;
        width: 100%;
        padding: 0 15px;
        left: 0;
    }
}

.b-right {
    border-right: 1px solid #f6f8ff;
}

.b-right:after {
    content: '';
    position: absolute;
    right: 0px;                           ;
    top: 0;
    height: 100%;
    border-right: 1px solid  #e6ecf5;
}

.percentage {
    text-align:  center;
    font-weight: bold;
}

@media(min-width:768px) {
    .percentage {
        font-size: 24px;
    }
}

main,
.content {
    position: relative;
}

.menu-stripe {
    background: var(--white-color);
    box-shadow: 5px 4px 4px 0px rgba(0, 0, 0, 0.06)
}

.menu-stripe__menu {
    display: block;
    height: 100%;
}

.menu-stripe__menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    height: 100%;
}

.menu-stripe__menu ul li {
    width: 50%;
}

@media(min-width:768px) {
    .menu-stripe__menu ul li {
        width: auto;
    }
}

.menu-stripe__menu ul li a {
    height: 100%;
    height: 40px;
    display: block;
    padding: 12px 20px 0;
    line-height: 1;
    transition: .2s all ease-out;
}

.menu-stripe__menu ul li a:hover,
.menu-stripe__menu ul li.active a {
    background: #3166e0;
    transition: .2s all ease-in;
    color: var(--white-color);
}

main {
    top: 40px;
}

.sticky {
    position: fixed;
    top: 75px;
    max-width: 235px;
}

aside {
    background: var(--white-color);
    border-radius: 3px;
    overflow: hidden;
}

.profile {
    position: relative;
    overflow: hidden;
}

.blur {
    -webkit-filter: blur(4px);
    filter: blur(4px);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.gradient {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #a7c7dc;
    /* Old browsers */
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient( linear, left top, left bottom, from(var(--main-dark-color)), to(var(--main-light-color)));
    background: linear-gradient( to bottom, var(--main-dark-color) 0%, var(--main-light-color) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    padding: 20px 15px;
    opacity: .7;
}

.blur-pic {
    background: center center no-repeat;
    background-size: cover;
}

.profile__pic {
    width: 100%;
    height: 200px;
    margin: auto;
    display: block;
    position: relative;
    overflow: hidden;
    background: #566075;
}

.profile__pic img {
    width: 100%;
}

.capitalize {
    text-transform: uppercase;
}

.profile-img-block {
    position: relative;
}

.profile__round-pic {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: var(--white-color) 1px solid;
    top: 25px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    overflow: hidden;
}

.v-middle,
.v-middle * {
    vertical-align: middle;
}

.popped {
    display: none;
}

@media(max-width:768px) {
    .c-info {
        margin-top: 30px !important;
    }
    .position {
        font-size: 14px !important;
    }
}

.profile__info {
    background: #a7c7dc;
    padding: 20px 15px;
}

.profile__info a {
    color: #f2f2f2;
    text-decoration: underline;
    text-decoration: none;
}

.profile--bar.profile,
.profile__info {
    background: #8853fa;
}

.profile--bar.profile .profile__pic {
    background: none !important
}

.profile--bar.profile .profile__info {
    background: transparent;
}

.profile-name {
    font-size: 30px;
    white-space: pre-wrap;
    font-weight: 400;
    color: var(--white-color);
    line-height: 1;
    position: relative;
}

.position {
    font-size: 16px;
    margin: 5px 0 15px;
    color: var(--white-color);
}

.edit-btn {
    padding: 5px 10px;
    line-height: 1;
    background: rgba(0, 0, 0, .4);
    border-radius: 3px;
    color: white !important;
    font-size: 12px;
    text-transform: uppercase;
}

.edit-btn:hover {
    color: var(--white-color);
    background: rgba(0, 0, 0, 1);
}

.offline:before {
    background-color: var(--red-color);
}

a.online-status {
    left: 0px;
    bottom: 0px;
    padding: 8px 0 15px;
    position: absolute;
    background: rgba(0, 0, 0, .7);
    color: white;
    font-size: 11px;
    font-weight: bold;
    display: block;
    line-height: 1;
    width: 100%;
    text-align: center;
}

a.online-status:hover {
    background: rgba(0, 0, 0, 1);
}

.ui-block-title {
    padding: 23px 25px 18px;
    line-height: 1;
    border-bottom: 1px solid #e6ecf5;
    border-top: 1px solid #e6ecf5;
    display: table;
    width: 100%;
    position: relative;
    border-radius: 5px 5px 0 0;
}

.ui-block-title>* {
    margin-bottom: 0;
    display: table-cell;
    vertical-align: middle;
}

.h6,
h6 {
    font-size: 18px;
    font-weight: bold;
    color: var(--dark-color);
    margin: 0;
}

.online-members__list .rounded {
    border-radius: 100% !important;
}

.online-members__list h5 {
    font-size: 12px;
    font-weight: 600;
}

.online-members__list p {
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    color: #999999;
}

.online-members__list i {
    font-size: 14px;
    color: #999999;
}

.list__status {
    font-size: 12px;
    color: #cccccc;
    line-height: 1;
    -webkit-transition: .2s all ease-in;
    transition: .2s all ease-in;
}

.online-members__list a {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
    width: 100%;
    padding: 7px 15px;
    border-bottom: 1px solid #f2f2f2;
    color: var(--dark-color);
}

.online-members__list a:hover {
    color: var(--black-color);
    background: var(--body-color);
}

.online-members__list a:hover .list__status {
    color: var(--dark-color);
    -webkit-transition: .2s all ease-in;
    transition: .2s all ease-in;
}

.info-bar {
    background: var(--white-color);
    overflow: hidden;
}

.info-bar .heading {
    background: var(--dark-color);
    color: var(--white-color);
    position: relative;
    width: 100%;
    padding: 10px 15px;
    text-align: center;
}

.info-bar .heading span {
    font-size: 18px;
    font-weight: 300;
    line-height: 1;
}

.white-bg {
    background: var(--white-color);
}

.shift-info {
    width: 100%;
    text-align: left;
    font-size: 14px;
    line-height: 1.3;
}

.shift-info__time {
    margin: 0 15px 20px;
    font-size: 40px;
    font-weight: 300;
    line-height: 1;
}

.online-members .mCSB_inside>.mCSB_container {
    margin-right: 15px;
}

.shift-info__time em {
    font-size: 20px;
    font-style: normal;
}

.no-stats {
    line-height: 1;
    text-align: center;
    margin-right: 20px;
}

.no-stats:last-child {
    margin-right: 0;
}

.no-stats .no-stats__big {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 3px;
}

.summery--small .no-stats .no-stats__big {
    font-size: 16px;
}

.no-stats .no-stats__small {
    font-size: 9px;
    font-weight: 600;
    text-transform: uppercase;
}

.summery--small .no-stats .no-stats__small {
    font-size: 8px;
}

.shift-info__summery {
    overflow: hidden;
    padding: 10px 0;
    margin: 0;
    background: var(--body-color);
}

.shift-info__summery.summery--small {
    background: #ffffff;
    font-size: 14px;
    margin: 10px 0;
    border: 1px solid #f2f2f2;
}

.shift-info__summery h5 {
    font-size: 16px;
}

.shift-info__summery.summery--small h5 {
    font-size: 12px;
}

#v-cal .vcal-week span {
    font-size: 12px;
    padding: 1.2rem 0.8rem;
}

#v-cal {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

@media(min-width: 1200px) {
    .container {
        max-width: 1180px;
    }
}

@media(min-width: 1366px) {
    .container {
        max-width: 1300px;
    }
}

@media(min-width: 1600px) {
    .container {
        max-width: 1500px;
    }
}

@media(min-width: 1920px) {
    .container {
        max-width: 1600px;
    }
}

/* Article */

.post {
    padding: 25px;
    border-bottom: 1px solid #e6ecf5;
    position: relative;
}

.post__close {
    position: absolute;
    right: 0;
    top: 5px;
    color: #dedede !important;
    margin: 0 !important;
}

.post p {
    margin: 25px 0
}

.post .control-block-button {
    top: 20px;
    right: -17px
}

.post.thumb-full-width .post-thumb {
    border-radius: 0;
    margin: 0 -25px 25px
}

.post .h1,
.post .h2,
.post .h3,
.post .h4,
.post .h5,
.post .h6,
.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
    display: inline-block
}

.post .h1+p,
.post .h2+p,
.post .h3+p,
.post .h4+p,
.post .h5+p,
.post .h6+p,
.post h1+p,
.post h2+p,
.post h3+p,
.post h4+p,
.post h5+p,
.post h6+p {
    margin-top: 10px
}

.post .post__author-name {
    margin-bottom: 0
}

.post.shared-photo .post-thumb {
    border: 1px solid #e6ecf5;
    margin-bottom: 0
}

.post-block-photo {
    margin-bottom: 20px;
    overflow: hidden
}

.post-block-photo a,
.post-block-photo span {
    float: left;
    overflow: hidden;
    padding: 0 8px 8px 0
}

.post-block-photo a img,
.post-block-photo span img {
    border-radius: 3px;
    width: 100%
}

.post__author img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 12px;
}

.post-thumb img {
    width: 100%
}

.post__author {
    margin-bottom: 20px
}

.post__author .more {
    float: right;
    font-size: 16px;
    margin-right: 20px
}

.post-additional-info {
    padding: 20px 0 0;
    border-top: 1px solid #e6ecf5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.post-additional-info>* {
    margin-right: 15px
}

.post-additional-info>:last-child {
    margin-right: 0;
    margin-left: auto
}

.post-thumb {
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.btn-def {
    background: var(--main-color);
    color: var(--white-color);
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Left Sidebar */

.left-sidebar {
    width: 300px;
    position: fixed;
    background: #222c3c;
    height: 100%;
    margin-top: 51px;
    top: 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 400px;
    position: fixed;
    top: 0;
    right: -10px;
    height: 100vh;
    z-index: 9999;
    background: var(--white-color);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-shadow: -5px 0px 14px 0px rgba(107, 107, 107, 0.43);
    box-shadow: -5px 0px 14px 0px rgba(107, 107, 107, 0.43);
}

#sidebar.active {
    margin-right: -400px;
}

.aside__header {
    padding: 17px 20px;
    background: var(--main-dark-color);
    color: var(--white-color);
    font-weight: bold;
    position: relative;
    line-height: 1;
    text-align: center;
}

.aside__close {
    position: absolute;
    right: 20px;
    top: 15px;
    color: white !important;
    font-size: 20px;
}

.aside__close:hover {
    color: white;
}

#helpAccordian .card-header {
    background: #f2f2f2;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
}

#helpAccordian .card-header button {
    width: 100%;
    color: var(--dark-color);
    text-align: left;
    font-weight: 600;
}

#helpAccordian .card-header button:hover,
#helpAccordian .card-header button:focus {
    text-decoration: none;
}

#helpAccordian .card {
    position: relative;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
}

#sidebar a[data-toggle="collapse"] {
    position: relative;
}

#sidebar a[aria-expanded="false"]::before,
#sidebar a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

#sidebar a[aria-expanded="true"]::before {
    content: '\e260';
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    min-height: 100vh;
    padding: 0 40px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: 80px;
}

#content.active {
    width: 100%;
    padding: 0;
}

#content.l-sidebar {
    width: calc(100% - 300px);
    padding: 0;
    margin-left: 300px;
}

#sidebarCollapse {
    color: var(--white-color);
    z-index: 1;
    position: fixed;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* Login page styles */

.login-main {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-height: 100vh;
}

.login {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    width: 100%;
    background: var(--main-color);
}

@media (min-width: 768px) {
    .login {
        min-height: 100%;
    }
}

.login .login__left,
.login .login__right {
    width: 100%;
}

@media (min-width: 768px) {
    .login .login__left,
    .login .login__right {
        width: 50%;
        min-height: 100%;
    }
}

.login .login__left {
    background: var(--main-color) url(../images/dunkindonuts.jpg) center center no-repeat;
    background-size: cover;
}

@media (max-width: 768px) {
    .login .login__left {
        display: none;
    }
}

.login .login__right {
    background: var(--white-color);
    min-height: none;
    position: relative;
}

@media (max-width: 768px) {
    .login .login__right {
        margin: 20px;
        background: var(--white-color);
        padding: 15px;
    }
}

.right__content {
    width: 100%;
    max-width: 522px;
}

.right__content .logo {
    max-width: 150px;
    margin: auto;
    display: block;
}

.right__content .r-content__desc {
    font-size: 18px;
    margin: 15px 0 30px;
    color: #acb4bc;
}

.login-form .form-control {
    height: 45px !important;
}

.login-form .button-group {
    width: 100%;
    overflow: hidden;
}

.login-form .button-group .submit,
.login-form .button-group .link {
    width: 49%;
    height: 45px;
    font-size: 16px;
    font-weight: 600;
}

.login-form .button-group .submit {
    margin: auto;
    width: 100%;
    text-transform: uppercase;
}

.login-form .button-group .link {
    float: left;
    padding-top: 10px;
}

.login-form .button-group button {
    width: 100%;
    height: 45px !important;
    font-size: 16px;
}

.bottom-links {
    position: absolute;
    bottom: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.bottom-links a {
    font-size: 13px;
}

.bottom-links a:after {
    display: inline-block;
    vertical-align: middle;
    content: '';
    height: 11px;
    border-left: 1px solid var(--main-color);
    margin: 0 10px;
}

.bottom-links a:last-child:after {
    display: none;
}

/* buttons color */

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.btn-primary {
    color: #fff;
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.btn-primary:hover {
    color: #fff;
    background-color: var(--main-dark-color);
    border-color: var(--main-dark-color);
}

.btn-link {
    color: var(--main-color);
}

.btn-link:hover {
    color: var(--main-dark-color);
}

/* Error message */

label.error {
    position: absolute;
    z-index: 3;
    font-size: 13px;
    padding: 8px 15px 9px;
    background: #e84a4a;
    color: var(--white-color);
    border-radius: 3px;
    line-height: 1;
    left: 0;
    top: calc( 100% + 7px);
    -webkit-box-shadow: 2px 2px 7px 0px rgba(50, 50, 50, 0.27);
    box-shadow: 2px 2px 7px 0px rgba(50, 50, 50, 0.27);
}

label.error:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 8px 7px;
    border-color: transparent transparent #e84a4a transparent;
    top: -8px;
    left: 15px;
}

.form-group {
    position: relative;
}

.form-control:focus {
    -webkit-box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, .2);
    box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, .2);
}

.custom-select.is-valid:focus,
.form-control.is-valid:focus,
.was-validated .custom-select:valid:focus,
.was-validated .form-control:valid:focus {
    -webkit-box-shadow: 0 0 0 0.15rem rgba(40, 167, 69, .2);
    box-shadow: 0 0 0 0.15rem rgba(40, 167, 69, .2);
}

.custom-select.is-invalid:focus,
.form-control.is-invalid:focus,
.was-validated .custom-select:invalid:focus,
.was-validated .form-control:invalid:focus {
    -webkit-box-shadow: 0 0 0 0.15rem rgba(220, 53, 69, .2);
    box-shadow: 0 0 0 0.15rem rgba(220, 53, 69, .2);
}

/* wizard */

#v-pills-tab li.main,
#v-pills-tab li.main a.wiz-links {
    position: relative;
}

#v-pills-tab li.main {
    padding-left: 24px;
}

#v-pills-tab li.main a.wiz-links {
    padding: 15px 10px 15px 48px;
    color: #505050;
    font-weight: 600;
    display: block;
    position: relative;
}

#v-pills-tab li.main a.wiz-links:before {
    content: '1';
    position: absolute;
    width: 35px;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 6px;
    height: 35px;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: #505050;
    border-radius: 100%;
    z-index: 9 !important;
}

#v-pills-tab li.main:nth-child(1) a.wiz-links:before {
    content: '1';
}

#v-pills-tab li.main:nth-child(2) a.wiz-links:before {
    content: '2';
}

#v-pills-tab li.main:nth-child(3) a.wiz-links:before {
    content: '3';
}

#v-pills-tab li.main:nth-child(4) a.wiz-links:before {
    content: '4';
}

#v-pills-tab li.main:nth-child(5) a.wiz-links:before {
    content: '5';
}

#v-pills-tab li.main:nth-child(6) a.wiz-links:before {
    content: '6';
}

#v-pills-tab li.main:nth-child(7) a.wiz-links:before {
    content: '7';
}

#v-pills-tab li.main:after,
#v-pills-tab li.sub:after {
    content: '';
    background: #505050;
    position: absolute;
    left: 41px;
    top: calc(100% - 22px);
    height: calc(100%);
    width: 2px;
    z-index: 2;
}

#v-pills-tab li.sub:after {
    left: -1px;
    top: calc( 100% - 28px);
}

#v-pills-tab li.sub:last-child:after {
    display: none;
}

#v-pills-tabContent {
    min-height: 445px;
}

.cursor-default {
    cursor: default;
}

#v-pills-tab li.main:first-child:after {
    top: 38px;
}

#v-pills-tab li.main:last-child:after {
    height: 0;
}

a.wiz-links.cursor-default {
    padding: 27px 10px 27px 48px !important;
}

#v-pills-tab li.sub a {
    padding: 5px 0 5px 50px;
    color: #505050;
    display: block;
    font-size: 14px;
    font-weight: 600;
}

#v-pills-tab li.sub {
    position: relative;
    margin-left: 42px;
}

#v-pills-tab li.sub:before {
    content: '';
    background: #888686;
    position: absolute;
    left: 0;
    top: 47%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 2px;
    width: 40px;
}

#v-pills-tab li.main.activated a.wiz-links:before {
    background: #4980ff;
    -webkit-transition: background-color .2s ease-in;
    transition: background-color .2s ease-in;
}

#v-pills-tab li.completed:after,
#v-pills-tab li.completed a.wiz-links:before,
#v-pills-tab li.completed.sub:before {
    background: var(--green-color) !important;
    -webkit-transition: background-color .2s ease-in;
    transition: background-color .2s ease-in;
    z-index: 3;
}

#v-pills-tab li.completed a.wiz-links:before {
    content: '\e5ca' !important;
    font-family: 'Material Icons';
    font-size: 16px;
}

#v-pills-tab li a span {
    display: block;
}

#v-pills-tab li a em {
    font-weight: normal;
    font-size: 12px;
    display: inline-block;
    margin-right: 15px;
}

#v-pills-tab li a em i {
    font-size: 12px;
}

#v-pills-tab li a em:last-child {
    margin-right: 0;
}

#v-pills-tab li.main:nth-child(1):after {
    z-index: 6;
}

#v-pills-tab li.main:nth-child(2):after {
    z-index: 5;
}

#v-pills-tab li.main:nth-child(3):after {
    z-index: 4;
}

#v-pills-tab li.main:nth-child(4):after {
    z-index: 3;
}

#v-pills-tab li.main:nth-child(5):after {
    z-index: 2;
}

/* Fixed position left wizard */

@media(min-width:992px) {
    .affix {
        position: fixed;
        top: 60px;
        width: 100%;
        opacity: 1;
        max-width: 370px;
        z-index: 99;
    }
    .affix-top {
        position: static;
    }
}

@media(min-width:1200px) {
    .affix {
        max-width: 265px;
    }
}

@media(min-width:1366px) {
    .affix {
        max-width: 295px;
    }
}

@media(min-width:1600px) {
    .affix {
        max-width: 345px;
    }
}

@media(min-width:1920px) {
    .affix {
        max-width: 370px;
    }
}

#v-pills-tab li em {
    -webkit-transition: all ease-in .2s;
    transition: all ease-in .2s;
}

#v-pills-tab li em:hover {
    color: var(--black-color);
    -webkit-transition: all ease-in .2s;
    transition: all ease-in .2s;
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px)
}

ul#v-pills-tab {
    padding-bottom: 15px;
}

/* Personal info area of forms page */

.plain {
    background: var(--main-highlight-color);
}

.plain .profile-name,
.plain .position {
    color: var(--black-color);
}

.p-info .position>i,
.p-info .position>span {
    vertical-align: middle;
}

/* button with icons */

.w-icon i,
.w-icon span {
    display: inline-block;
    vertical-align: middle;
}

/* date select */

.date-select select {
    max-width: 90px;
    display: inline-block;
    vertical-align: middle;
}

/* Sweet alert */

.swal2-cancel {
    background: none !important;
    color: #333333 !important;
}

.swal2-styled {
    box-shadow: none !important;
    font-size: .99rem !important;
}

/* buttons  */

.btn.w-icon {
    overflow: hidden;
    position: relative;
    padding-left: 50px;
    line-height: 1;
    transition: all ease-out .2s;
}

.preview.btn {
    background: rgb(221, 221, 221);
    color: var(--black-color);
}

.accept.btn {
    background: var(--main-color);
    color: var(--white-color);
}

.btn {
    margin-right: 7px;
}

.btn.w-icon span {
    z-index: 2;
    position: relative;
    line-height: 1;
    padding-top: 6px;
    padding-bottom: 6px;
}

.preview.btn:before,
.accept.btn:before {
    font-family: 'Material Icons';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    padding-top: 12px;
    padding-left: 12px;
    width: 40px;
    z-index: 1;
    text-align: left;
    transition: all ease-out .2s;
}

.preview.btn:after,
.accept.btn:after {
    content: '';
    position: absolute;
    left: 39px;
    top: 0;
    height: 100%;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: transparent;
    z-index: 3;
}

.accept.btn:before {
    content: '\e5ca';
    color: var(--white-color);
    background: #1251e4;
}

.preview.btn:before {
    content: '\e417';
    color: var(--dark-color);
    background: #acacac;
}

.btn:hover:before {
    width: 100%;
    transition: all ease-out .2s;
}

.preview.btn:after {
    border-right-color: rgb(221, 221, 221);
}

.accept.btn:after {
    border-right-color: var(--main-color);
}

/* Custom.css overides */

label.lbl-block,
label.custom-control-label {
    font-weight: normal;
}

#frmWOTC .form-group {
    border-bottom: 1px solid #f2f2f2;
    ;
    padding-bottom: 15px;
}

.detail-form.box-gray .row h6 {
    display: block !important;
    width: 100%;
    padding: 0 15px 20px;
}

.box-gray {
    margin-top: 15px;
    border-radius: 3px;
}

/* Modal Fix */

label.checkbox-inline.footer-terms {
    display: block !important;
    margin-right: 0;
    font-weight: normal;
    font-size: 13px
}

.checker {
    float: left;
    margin-right: 10px;
}

button.review-doc {
    float: right !important;
    display: block !important;
    margin-top: 10px;
}

.custom-footer {
    display: block;
}

.modal-header.full-page-modal {
    display: block;
}

button.close.custom-close {
    font-size: 13px;
    padding: 8px 12px;
    background: #d0d0d0;
    top: 17px;
    position: relative;
    right: 15px;
    border-radius: 50px;
}

/* Modal styles  */

.full-modal {
    margin-top: 0;
    max-width: 900px;
}

@media(min-width:1366px) {
    .full-modal embed {
        min-height: 515px;
    }
}

@media(min-width:1920px) {
    .full-modal embed {
        min-height: 685px;
    }
}

.full-modal .modal-header {
    padding: 10px 15px;
    background: var(--main-color);
    color: var(--white-color);
}

.full-modal .modal-header button {
    color: var(--white-color)
}

.custom-footer,
.modal-header.full-page-modal {
    display: block;
}

/* Custom File Upload  */

.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.no-js .inputfile+label {
    display: none;
}

.inputfile:focus+label,
.inputfile.has-focus+label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile+label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile+label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

/* style 4 */

.inputfile-4+label {
    color: var(--main-color);
}

.inputfile-4:focus+label,
.inputfile-4.has-focus+label,
.inputfile-4+label:hover {
    color: var(--main-color);
}

.inputfile-4+label figure {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--main-color);
    display: block;
    padding: 20px;
    margin: 0 auto 10px;
}

.inputfile-4:focus+label figure,
.inputfile-4.has-focus+label figure,
.inputfile-4+label:hover figure {
    background-color: var(--main-color);
}

.inputfile-4+label svg {
    width: 100%;
    height: 100%;
    fill: #f1e5e6;
}

/* webcam */

div#my_camera {
    background: #dedede;
    margin: 0 auto 10px;
    width: 320px;
    height: 240px;
}

.webcam-snap,
.upload-photo {
    background: #f2f2f2;
    padding: 15px;
    height: 100%;
    position: relative;
}

.upload-photo .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Stepped progress bar */

.progress-text {
    text-align: center;
    font-weight: 600;
    margin: 0 auto;
    display: block;
    color: #888585;
    font-size: 14px;
}

/* Calendar Tabs */

.panel-body a.nav-link.active {
    background: #3f51b5;
    color: white;
}

.panel-body a.nav-link {
    color: #3f51b5;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 20px;
    font-size: 14px
}

.panel-body .nav-tabs {
    border-bottom: none;
}

.panel-body .nav-tabs .nav-item {
    margin-bottom: -2px
}

/* Calendar sidebar styles */

button.fc-button {
    background: #4980ff;
    color: white;
    border: none;
}

button.fc-button:hover {
    background: #215de6;
}

button.fc-button.fc-prev-button {
    margin-right: 3px;
}

.fc-left h2 {
    margin-top: 8px;
}

.fc-scroller.fc-day-grid-container {
    height: auto !important;
    overflow-y: hidden !important;
}

.fc-row.fc-widget-header {
    margin-right: 0 !important;
    border-right-width: 0 !important;
}

th.fc-day-header.fc-widget-header {
    padding: 7px 0;
}

td.fc-day-number.fc-mon.fc-today.fc-state-highlight {
    background: #5a5a5a;
    color: white;
}

a.btn.btn-default.btn-block.btn-outline {
    margin: 20px auto 0;
    border: #8853fa 1px solid;
    max-width: 200px;
    color: #8853fa;
}

a.btn.btn-default.btn-block.btn-outline:hover {
    color: white;
    background: #8853fa;
}

/* Transparent modal fix */

div#changeSchedule {
    width: auto !important;
}

div#changeSchedule .modal-dialog {
    background: white;
    padding: 15px;
    border-radius: 3px;
}

.panel-heading h6 {
    margin-bottom: 15px;
}

/* my team scroll height */

#myTeam {
    height: 300px;
}

/* custom scroll width */

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 6px;
}

/* Ecology */

.wizard>.steps {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 40px;
}

.wizard>.steps .number {
    display: none;
}

.wizard>.steps>ul>li {
    width: 25%;
    float: left;
    text-align: center;
    position: relative;
}

.wizard>.steps a,
.wizard>.steps a:hover,
.wizard>.steps a:active {
    display: inline-block;
    width: auto;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    text-decoration: none;
    padding-top: 12px;
    font-weight: bold;
    position: relative;
    z-index: 2;
}

.wizard .steps li a:before {
    position: absolute;
    content: '';
    height: 4px;
    background: #edeff0;
    margin: 0;
    right: 100%;
    width: 319%;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
}

.wizard .steps li:first-child a:before {
    display: none;
}

.wizard>.steps .disabled a,
.wizard>.steps .disabled a:hover,
.wizard>.steps .disabled a:active {
    background: #eee;
    color: #aaa;
    cursor: default;
    z-index: 2;
}

.wizard>.steps .current a,
.wizard>.steps .current a:before,
.wizard>.steps .done a,
.wizard>.steps .done a:before {
    /* Ellipse 2 */
    background: linear-gradient(180deg, #4980FF 0%, #B072EE 100%);
    color: #fff;
    cursor: default;
}

.wizard>.steps .error a,
.wizard>.steps .error a:hover,
.wizard>.steps .error a:active {
    background: #ff3111;
    color: #fff;
}

.wizard>.content {
    background: rgb(255, 255, 255);
    display: block;
    margin: 1em 0 0;
    overflow: hidden;
    position: relative;
    width: auto;
    min-height: 500px;
    overflow-y: auto;
}

.wizard.vertical>.content {
    display: inline;
    float: left;
    margin: 0 2.5% 0.5em 2.5%;
    width: 65%;
}

.wizard>.content>.body {
    float: left;
    position: absolute;
    width: 100%;
    height: 100%;
}

.wizard>.content>.body ul {
    list-style: disc !important;
}

.wizard>.content>.body ul>li {
    display: list-item;
}

.wizard>.content>.body>iframe {
    border: 0 none;
    width: 100%;
    height: 100%;
}

.wizard>.content>.body input {
    display: block;
    border: 1px solid #ccc;
}

.wizard>.content>.body input[type="checkbox"] {
    display: inline-block;
}

.wizard>.content>.body input.error {
    background: rgb(251, 227, 228);
    border: 1px solid #fbc2c4;
    color: #8a1f11;
}

.wizard>.content>.body label {
    display: inline-block;
    margin-bottom: 0.5em;
}

.wizard>.content>.body label.error {
    color: #8a1f11;
    display: inline-block;
    margin-left: 1.5em;
}

.wizard>.actions {
    position: relative;
    display: block;
    text-align: right;
    width: 100%;
}

.wizard>.actions>ul {
    display: inline-block;
    text-align: right;
    display: flex;
    justify-content: space-between;
}

.wizard>.actions>ul>li {
    margin: 0 0.5em;
}

.wizard.vertical>.actions>ul>li {
    margin: 0 0 0 1em;
}

.wizard>.actions a,
.wizard>.actions a:hover,
.wizard>.actions a:active {
    background: transparent;
    color: #fff;
    border: var(--main-color) 1px solid;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 50px;
    color: var(--main-color);
    min-width: 100px;
    text-align: center;
}

.wizard>.actions .disabled a,
.wizard>.actions .disabled a:hover,
.wizard>.actions .disabled a:active {
    background: transparent;
    color: #aaa;
    border: #aaa 1px solid;
    cursor: default;
}

.wizard>.loading {}

.wizard>.loading .spinner {}

/*
    Tabcontrol
*/

/*
    Common 
*/

.wizard,
.tabcontrol {
    display: block;
    width: 100%;
    overflow: hidden;
}

.wizard a,
.tabcontrol a {
    outline: 0;
}

.wizard ul,
.tabcontrol ul {
    list-style: none !important;
    padding: 0;
    margin: 0;
}

.wizard ul>li,
.tabcontrol ul>li {
    display: block;
    padding: 0;
}

/* Accessibility */

.wizard>.steps .current-info,
.tabcontrol>.steps .current-info {
    position: absolute;
    left: -999em;
}

.wizard>.content>.title,
.tabcontrol>.content>.title {
    position: absolute;
    left: -999em;
}

.tabcontrol>.steps {
    position: relative;
    display: block;
    width: 100%;
}

.tabcontrol>.steps>ul {
    position: relative;
    margin: 6px 0 0 0;
    top: 1px;
    z-index: 1;
}

.tabcontrol>.steps>ul>li {
    float: left;
    margin: 5px 2px 0 0;
    padding: 1px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tabcontrol>.steps>ul>li:hover {
    background: #edecec;
    border: 1px solid #bbb;
    padding: 0;
}

.tabcontrol>.steps>ul>li.current {
    background: #fff;
    border: 1px solid #bbb;
    border-bottom: 0 none;
    padding: 0 0 1px 0;
    margin-top: 0;
}

.tabcontrol>.steps>ul>li>a {
    color: #5f5f5f;
    display: inline-block;
    border: 0 none;
    margin: 0;
    padding: 10px 30px;
    text-decoration: none;
}

.tabcontrol>.steps>ul>li>a:hover {
    text-decoration: none;
}

.tabcontrol>.steps>ul>li.current>a {
    padding: 15px 30px 10px 30px;
}

.tabcontrol>.content {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 35em;
    overflow: hidden;
    border-top: 1px solid #bbb;
    padding-top: 20px;
}

.tabcontrol>.content>.body {
    float: left;
    position: absolute;
    width: 95%;
    height: 95%;
    padding: 2.5%;
}

.tabcontrol>.content>.body ul {
    list-style: disc !important;
}

.tabcontrol>.content>.body ul>li {
    display: list-item;
}

.white-navbar {
    background: var(--white-color);
    box-shadow: 7px 6px 10px 0px rgba(0, 0, 0, 0.08);
}

/* subnav styles */

ul.white-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    margin: auto;
}

@media(min-width:768px) {
    ul.white-nav li {
        display: inline-block;
    }
}

ul.white-nav li a {
    display: block;
    padding: 10px 20px;
    color: #333333;
    border-bottom: 2px solid #ffffff;
}

ul.white-nav li a:hover,
ul.white-nav li.active a {
    color: var(--main-color);
    border-color: var(--main-color);
}

ul.white-nav li a i {
    font-size: 18px;
    line-height: 1;
    vertical-align: middle;
}

ul.white-nav li a span {
    font-size: 16px;
    line-height: 1;
    vertical-align: middle;
}

footer {
    background: #dce4ea;
    padding: 15px 0;
    text-align: center;
    font-size: 12px;
}

/* colored text */
.red-color {
    color: rgb(240, 53, 53) !important;
}

.yellow-color {
    color: rgb(245, 212, 27) !important;
}

.green-color {
    color: var(--green-color) !important;
}

/* Chart Js Doughnut Chart */

.chart-canvas {
    position: relative;
}

.chart-heading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 1;
}

.chart-heading div { 
    font-weight: 600;
    font-size: 18px;
    margin-top: 10px;
}

/* Chart Legends */
.chart-legend {
    position: relative;
}

.chart-legend__item {
    position: relative;
    margin: 0 0 15px;
}

.chart-legend__item .percentage {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
}

.chart-legend__item .legend-text {
    display: inline-block;
    vertical-align: middle;
}

.chart-legend__item .percentage i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 1;
    color: var(--white-color);
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
}

.chart-legend__item.basic .percentage {
    background: #2ecc71;
}

.chart-legend__item.taxes .percentage {
    background: #3498db;
}

.chart-legend__item.benefits .percentage {
    background: #95a5a6;
}

.chart-legend__item.other .percentage {
    background: #9b59b6;
}


/* Abou Us Page */

.list-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list-nav span, .list-nav i {
    display: inline-block;
    vertical-align: middle;
}

.list-nav i {
    font-size: 22px;
}

.mat-icons {
    font-size: 22px;
    display: inline-block;
    vertical-align: middle;
}

.list-nav li a {
    color: var(--main-txt-color);
    display: block;
    padding: 15px 15px;
    border-bottom: 1px solid #eeeeee;
}

.list-nav li a.active,
.list-nav li a:hover {
    color: var(--main-color)
}

h2.custom {
    font-size: 32px;
    line-height: 1;
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-weight: 300;
    color: black;
    border-bottom: 1px solid #ebebeb;
}

.anchor {
    display: block;
    position: relative;
    top: -120px;
    visibility: hidden;
}

.aboutus-content p {
    margin-bottom: 50px;
}

#aboutUsAffix {
    top: 120px;
}

#aboutCompany {
    height: 280px;
    margin: 10px 0;
    overflow: hidden;
}

.ui-block.highlight-orange {
    background-color: #0b1339;
    color: #ffffff !important;
}

.referral-img {
    margin: auto;
    display: block;
}

.referral-img img {
    display: block;
    position: relative;
    margin: -50px auto 0 auto;
    max-width: 120px;
}

.referral-link {
    font-size: 13px;
    color: #ffffff;
    margin: 0 0 20px;
    line-height: 1.4;
}

.margin-top {
    margin-top: 70px;
}

.referral-heading {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}

.ref-code {
    font-size: 20px;
    padding: 10px 20px;
    border: 1px dashed #ffffff;
    display: inline-block;
    margin-bottom: 30px;
    cursor: pointer;
}

.ref-footer {
    position: relative;
    margin: 0 -16px;
    display: flex;
    background: #101a4e;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.ref-footer button {
    width: 50%;
    border: none;
    padding: 15px 0;
    color: white;
    cursor: pointer;
}

.f-width-btn.highlighted {
    background: var(--main-color);
    border-bottom-left-radius: 3px;
}

.f-width-btn.highlighted:hover {
    background: #104acf;
}

.f-width-btn {
    background: none;
    line-height: 1;
    border-bottom-right-radius: 3px;
}

.f-width-btn:hover {
    background: #0b1339;
}



