{% set title = 'Profile Page' %} {% set profile = true %}
<!-- base layout file inheritance -->
{% extends "layout.html" %} {% block content %}

<!-- Left SIdebar Include -->
{% include "partials/left-sidebar.html" %}
<div id="content" class="active l-sidebar"> 
    <a id="sidebarCollapse" href="#">
        <img src="images/help.png" alt="Need Help">
    </a>

    <div class="container content">
        <div class="row">
            <div class="col-12">
                <div id="stuck">
                    <div class="profile ui-block row no-gutters">
                        <div class="col-12 col-md-2">
                            <div class="profile-img-block h-100">
                                <div class="profile__pic">
                                    <div class="online-status">
                                        <!-- to show offline status change the class to offline on following <div> -->
                                        <div class="online">Online</div>
                                    </div>
                                </div>
                                <div class="profile__round-pic">
                                    <img src="images/prof-pic.png" alt="Profile Picture" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-10">
                            <div class="profile__info h-100">
                                <div class="profile-name">Marie Pedroza</div>
                                <div class="position">Crew Member</div>
                                <a href="#" class="edit-btn">
                                    <span class="lnr lnr-pencil mr-2"></span> Edit Profile
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>
{% endblock %}