{% set title = 'Forms Page' %} {% set forms = true %}
<!-- base layout file inheritance -->
{% extends "layout.html" %} {% block content %}

<div id="content" class="active">
    <a id="sidebarCollapse" href="#">
        <img src="../images/help.png" alt="Need Help">
    </a>

    <div class="container content">
        <div class="row">
            <div class="col-12">
                <div id="stuck">
                    <div class="profile ui-block row no-gutters">
                        <div class="col-12 col-md-2">
                            <div class="profile-img-block h-100">
                                <div class="profile__pic">
                                    <div class="online-status">
                                        <!-- to show offline status change the class to offline on following <div> -->
                                        <div class="online">Online</div>
                                    </div>
                                </div>
                                <div class="profile__round-pic">
                                    <img src="images/prof-pic.png" alt="Profile Picture" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-10">
                            <div class="profile__info h-100">
                                <div class="profile-name">Marie Pedroza</div>
                                <div class="position">Crew Member</div>
                                <a href="#" class="edit-btn">
                                    <span class="lnr lnr-pencil mr-2"></span> Edit Profile
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="ui-block">
                    <div class="nav flex-column" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="wiz-links active" id="v-pills-home-tab" data-toggle="tab" href="#form-1" role="tab" aria-controls="form-1"
                            aria-selected="true">
                            <div>
                                <span>I9 - Information</span>
                            </div>
                        </a>
                        <a class="wiz-links" id="v-pills-profile-tab" data-toggle="pill" href="#form-2" role="tab" aria-controls="form-2"
                            aria-selected="false">
                            <div>
                                <span>Form - W4</span>
                            </div>
                        </a>
                        <a class="wiz-links" id="v-pills-messages-tab" data-toggle="pill" href="#form-3" role="tab" aria-controls="form-3"
                            aria-selected="false">
                            <div>
                                <span>State Documents</span>
                            </div>
                        </a>
                        <a class="wiz-links" id="v-pills-settings-tab" data-toggle="pill" href="#form-4" role="tab" aria-controls="form-4"
                            aria-selected="false">
                            <div>
                                <span>Additional Forms and Docs</span>
                            </div>
                        </a>
                        <a class="wiz-links" id="v-pills-new-tab" data-toggle="pill" href="#form-5" role="tab" aria-controls="form-5"
                            aria-selected="false">
                            <div>
                                <span>Profile Picture</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-9">
                <div class="ui-block p-4">

                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="form-1" role="tabpanel" aria-labelledby="form-1">...</div>
                        <div class="tab-pane fade" id="form-2" role="tabpanel" aria-labelledby="form-2">..aaa.</div>
                        <div class="tab-pane fade" id="form-3" role="tabpanel" aria-labelledby="form-3">...sasas</div>
                        <div class="tab-pane fade" id="form-4" role="tabpanel" aria-labelledby="form-4">..xcxcxc.</div>
                        <div class="tab-pane fade" id="form-5" role="tabpanel" aria-labelledby="form-5">.fgfgf..</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}