{% set title = 'Profile Page' %} {% set profile = true %}
<!-- base layout file inheritance -->
{% extends "layout.html" %} {% block content %}

<!-- Body Content -->
<div id="content" class="active">
    <a id="sidebarCollapse" href="#">
        <img src="images/help.png" alt="Need Help">
    </a>

    <div class="container content">
        <div class="row" id="personal-info">
            <div class="col-12">
                <div id="stuck">
                    <div class="profile ui-block row no-gutters profile--bar">
                        <div class="col-12 col-md-2">
                            <div class="profile-img-block h-100">
                                <div class="profile__pic">
                                    <div class="online-status">
                                        <!-- to show offline status change the class to offline on following <div> -->
                                        <div class="online">Online</div>
                                    </div>
                                </div>
                                <div class="profile__round-pic">
                                    <img src="images/prof-pic.png" alt="Profile Picture" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-10">
                            <div class="profile__info h-100">
                                <div class="row p-info mt-2">
                                    <div class="col-md-6 col-12">
                                        <div class="profile-name">Marie Pedroza</div>
                                        <div class="position">Crew Member</div>
                                        <div class="position mb-1 capitalize">
                                            <strong>
                                                <u>Personal Info</u>
                                            </strong>
                                        </div>
                                        <div class="position mb-1">
                                            <i class="material-icons">home</i>
                                            <span class="ml-1">2120 Licnoln Highway East Lancaster, PA 21201</span>
                                        </div>
                                        <div class="position d-inline mb-1 mr-3">
                                            <i class="material-icons">email</i>
                                            <span class="ml-1">
                                                <a href="mailto:ziyardr@aol.com">ziyardr@aol.com</a>
                                            </span>
                                        </div>
                                        <div class="position d-inline mb-1">
                                            <i class="material-icons">phone</i>
                                            <span class="ml-1">
                                                <a href="tel:ziyardr@aol.com">(111) 111-1111</a>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="p-info">
                                            <div class="position mb-2 capitalize c-info">
                                                <strong>
                                                    <u>Company Info</u>
                                                </strong>
                                            </div>
                                            <div class="position v-middle mb-1">
                                                <i class="material-icons d-inline-block">store_mall_directory</i>
                                                <span class="d-inline-block ml-1">KPV - CT 349421</span>
                                            </div>
                                            <a href="#" class="position v-middle d-inline-block mr-3 mt-1 mb-1" data-toggle="popover" data-trigger="focus" data-container="body"
                                                data-placement="bottom" data-html="true" id="map1">
                                                <i class="material-icons d-inline-block">place</i>
                                                <span class="d-inline-block ml-1 mr-1">Darien 95 North </span>
                                                <small class="d-inline-block">(Click to see the map)</small>
                                            </a>
                                            <div id="popover-content" class="hidden popped">
                                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3316.740510885296!2d-118.19019648446098!3d33.76737074013507!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dd313a2e1e7da7%3A0xd4f45154afa60556!2sThe+Westin+Long+Beach!5e0!3m2!1sen!2slk!4v1526243812008"
                                                    width="250" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                                            </div>
                                            <div class="position mt-1 mr-5">
                                                <div class="v-middle">
                                                    <i class="material-icons d-inline-block">date_range</i>
                                                    <span class="d-inline-block ml-1">Application Date - 06/05/2018</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-3 col-md-12">
                <div class="ui-block" id="wizard">
                    <div class="progress mt-3 mx-3 mb-1">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress-text mb-1">3/10 forms done</div>
                    <hr/>
                    <ul class="nav flex-column" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <li class="main completed">
                            <a class="wiz-links active" data-toggle="tab" href="#form-1" role="tab" aria-controls="form-1" aria-selected="true">
                                <div>
                                    <span>I9 - Information</span>
                                    <em class="lock-form">
                                        <i class="material-icons">lock</i> - Locked
                                    </em>
                                    <em class="edit-form">
                                        <i class="material-icons">edit</i> - Editable
                                    </em>
                                </div>
                            </a>
                        </li>
                        <li class="main completed">
                            <a class="wiz-links" data-toggle="pill" href="#form-2" role="tab" aria-controls="form-2" aria-selected="false">
                                <div>
                                    <span>Form - W4</span>
                                    <em class="lock-form">
                                        <i class="material-icons">lock</i> - Locked
                                    </em>
                                    <em class="edit-form">
                                        <i class="material-icons">edit</i> - Editable
                                    </em>
                                </div>
                            </a>
                        </li>
                        <li class="main">
                            <a class="wiz-links" data-toggle="pill" href="#form-3" role="tab" aria-controls="form-3" aria-selected="false">
                                <div>
                                    <span>State Documents</span>
                                    <em class="lock-form">
                                        <i class="material-icons">lock_open</i> - Unlocked
                                    </em>
                                </div>
                            </a>
                        </li>
                        <li class="main">
                            <a class="wiz-links cursor-default" href="javascript:void(0);">
                                <div>
                                    <span>Additional Forms and Docs</span>
                                </div>
                            </a>
                        </li>
                        <li class="sub">
                            <a data-toggle="tab" href="#form-sub1" role="tab" aria-controls="form-sub1" aria-selected="false">
                                <div>
                                    <span>Sub Form 01</span>
                                    <em class="lock-form">
                                        <i class="material-icons">lock_open</i> - Unlocked
                                    </em>
                                </div>
                            </a>
                        </li>
                        <li class="sub">
                            <a data-toggle="tab" href="#form-sub2" role="tab" aria-controls="form-sub2" aria-selected="false">
                                <div>
                                    <span>Sub Form 01</span>
                                    <em class="lock-form">
                                        <i class="material-icons">lock_open</i> - Unlocked
                                    </em>
                                </div>
                            </a>
                        </li>
                        <li class="sub">
                            <a data-toggle="tab" href="#form-sub2" role="tab" aria-controls="form-sub2" aria-selected="false">
                                <div>
                                    <span>Sub Form 01</span>
                                    <em class="lock-form">
                                        <i class="material-icons">lock_open</i> - Unlocked
                                    </em>
                                </div>
                            </a>
                        </li>
                        <li class="main">
                            <a class="wiz-links pic" data-toggle="pill" href="#form-5" role="tab" aria-controls="form-5" aria-selected="false">
                                <div>
                                    <span>Profile Picture</span>
                                    <em class="lock-form">
                                        <i class="material-icons">lock_open</i> - Unlocked
                                    </em>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-9 col-md-12">
                <div class="ui-block p-4">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="form-1" role="tabpanel" aria-labelledby="form-1">
                            <h1>I9 - Information</h1>
                            <h2>Personal Information</h2>
                            <!-- Modal dialog box  class=mb-5 is just for the demo -->
                            <div class="mb-5">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                                    PDF View
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-lg full-modal" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLiveLabel">Document Review</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <embed src="docs/text.pdf" frameborder="0" width="100%" height="100%" />
                                            </div>
                                            <div class="modal-footer custom-footer">
                                                <div class="custom-control custom-checkbox custom-control-inline">
                                                    <input type="checkbox" class="custom-control-input accept-doc" id="chkDocAccept">
                                                    <label class="custom-control-label" for="chkDocAccept">I,
                                                        <strong>Morales Alexa</strong>, agree to sign these electronic PDF documents
                                                        using "click" signature technology. I understand that a record of
                                                        each document and my signing of it will be stored in electronic code.
                                                        I confirm that the document is "written" or "in writing" and that
                                                        any accurate record of the documents is an original of the document.</label>
                                                </div>
                                                <br/>
                                                <button type="button" id="btnPreviewI9" name="btnPreviewI9" class="btn w-icon accept review-doc" data-document-id="8" data-type="accept"
                                                    disabled="disabled">
                                                    <span>Accept &amp; Continue</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <button type="button" class="btn btn-primary" id="alert">
                                    Sweet Alert
                                </button>
                            </div>
                            <!-- Checkbox and radio button styles -->
                            <div class="mb-5">
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="male">
                                    <label class="custom-control-label" for="male">Male</label>
                                </div>
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="female">
                                    <label class="custom-control-label" for="female">Female</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadioInline1">Toggle this custom radio</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadioInline2">Or toggle this other custom radio</label>
                                </div>
                            </div>
                            <div class="mb-5">
                                <h2>Error messages on a form</h2>
                                <div class="row">
                                    <div class="col-md-4 mb-3">
                                        <div class="form-group">
                                            <label for="validationCustom01">First name</label>
                                            <input type="text" class="form-control" id="validationCustom01" placeholder="First name" required>
                                            <label class="error">
                                                Please enter your first name
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <label for="validationCustom01">Last name</label>
                                            <input type="text" class="form-control" id="validationCustom01" placeholder="First name" required>
                                            <label class="error">
                                                Please enter your last name
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="date-select">
                                <select id="days" class="form-control"></select>
                                <select id="months" class="form-control"></select>
                                <select id="years" class="form-control"></select>
                            </div>
                        </div>
                        <div class="tab-pane fade show" id="form-sub1" role="tabpanel" aria-labelledby="form-sub1">
                            <h1>Sub Form 01</h1>
                        </div>
                        <div class="tab-pane fade show" id="form-sub2" role="tabpanel" aria-labelledby="form-sub2">
                            <h1>Sub Form 02</h1>
                        </div>
                        <div class="tab-pane fade" id="form-2" role="tabpanel" aria-labelledby="form-2">
                            <h1>Form - W4</h1>
                        </div>
                        <div class="tab-pane fade" id="form-3" role="tabpanel" aria-labelledby="form-3">
                            <h1>State Documents</h1>
                        </div>
                        <div class="tab-pane fade" id="form-4" role="tabpanel" aria-labelledby="form-4">
                            <h1>Additional Forms and Docs</h1>
                        </div>
                        <div class="tab-pane fade" id="form-5" role="tabpanel" aria-labelledby="form-5">
                            <h1>Profile Picture</h1>
                        </div>
                    </div>
                    <div class="ui-block__footer text-right">
                        <!-- Default button style -->
                        <button class="btn w-icon preview">
                            <span>Preview</span>
                        </button>
                        <!-- Primary button style -->
                        <button class="btn w-icon accept">
                            <span>Review and Accept</span>
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://rawgit.com/bassjobsen/affix/master/assets/js/affix.js"></script>
<script>
    $('#wizard').affix({
        offset: {
            top: $('#personal-info').height() /* apply .affix at bottom of header */
        }
    })

    // birthday select

    $(function () {
        for (i = new Date().getFullYear(); i > 1900; i--) {
            $('#years').append($('<option />').val(i).html(i));
        }
        for (i = 1; i < 13; i++) {
            $('#months').append($('<option />').val(i).html(i));
        }
        updateNumberOfDays();
        $('#years, #months').change(function () {
            updateNumberOfDays();
        });
    });

    function updateNumberOfDays() {
        $('#days').html('');
        month = $('#months').val();
        year = $('#years').val();
        days = daysInMonth(month, year);

        for (i = 1; i < days + 1; i++) {
            $('#days').append($('<option />').val(i).html(i));
        }
    }

    function daysInMonth(month, year) {
        return new Date(year, month, 0).getDate();
    }

    // sweet alert example

    $('#alert').on('click', function () {
        swal({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.value) {
                swal(
                    'Deleted!',
                    'Your file has been deleted.',
                    'success'
                )
            }
        })
    });
</script>
{% endblock %}