{% set title = 'Profile Page' %} {% set profile = true %}
<!-- base layout file inheritance -->
{% extends "layout.html" %} {% block content %}
<div id="content" class="active">
    <div class="container content">

        <div class="row">
            <div class="col-12 col-lg-3 col-xl-3">
                <div id="stuck">
                    <div class="profile ui-block">
                        <div class="profile-img-block">
                            <div class="profile__pic blur">
                                <img src="images/prof-pic.png" alt="Profile Picture" class="img-fluid">
                                <div class="online-status">
                                    <!-- to show offline status change the class to offline on following <div> -->
                                    <div class="online">Online</div>
                                </div>
                            </div>
                            <div class="profile__round-pic">
                                <img src="images/prof-pic.png" alt="Profile Picture" class="img-fluid">
                            </div>
                        </div>
                        <div class="profile__info">
                            <div class="profile-name">Marie Pedroza</div>
                            <div class="position">Crew Member</div>
                            <a href="#" class="edit-btn">
                                <span class="lnr lnr-pencil mr-2"></span> Edit Profile
                            </a>
                        </div>
                    </div>
                    <div class="online-members ui-block">
                        <div class="ui-block-title">
                            <h6 class="title">My Team</h6>
                        </div>
                        <ul class="list-unstyled online-members__list pt-3">
                            <li class="media">
                                <a href="#">
                                    <img class="mr-3 align-self-center rounded" src="images/user.jpg" alt="Gen Hatrick">
                                    <div class="media-body align-self-center">
                                        <h5 class="mt-0 mb-1">Gen Hatrick</h5>
                                        <div class="list__status">online</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="#">
                                    <img class="mr-3 align-self-center rounded" src="images/user.jpg" alt="Brock Lesnar">
                                    <div class="media-body align-self-center">
                                        <h5 class="mt-0 mb-1">Brock Lesnar</h5>
                                        <div class="list__status">online</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="#">
                                    <img class="mr-3 align-self-center rounded" src="images/user.jpg" alt="Lara Croft">
                                    <div class="media-body align-self-center">
                                        <h5 class="mt-0 mb-1">Lara Croft</h5>
                                        <div class="list__status">online</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-6">
                <div class="ui-block">
                    <article class="post">
                        <div class="post__author author d-flex align-items-center">
                            <img src="images/prof-pic.png" alt="author">
                            <div class="author-date">
                                <a class="h6 post__author-name fn" href="#">Elaine Dreyfuss</a>
                                <div class="post__date">
                                    <time class="published" datetime="2004-07-24T18:18">
                                        9 hours ago
                                    </time>
                                </div>
                            </div>
                        </div>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris consequat.
                        </p>
                        <div class="button-stack">
                            <div class="btn btn-link">Decline</div>
                            <div class="btn btn-def">Accept</div>
                        </div>
                    </article>
                </div>
                <div class="ui-block">
                    <article class="post">
                        <div class="post__author author d-flex align-items-center">
                            <img src="images/prof-pic.png" alt="author">
                            <div class="author-date">
                                <a class="h6 post__author-name fn" href="#">Sam Fisher</a>
                                <div class="post__date">
                                    <time class="published" datetime="2004-07-24T18:18">
                                        9 hours ago
                                    </time>
                                </div>
                            </div>
                        </div>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris consequat.
                        </p>
                        <div class="post-thumb">
                            <img src="images/Happy-birthday-images.jpg" alt="photo">
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-12 col-lg-3 col-xl-3">
                <div class="info-bar mb-4 ui-block">
                    <div class="ui-block-title">
                        <h6 class="title">Your Shift Today</h6>
                    </div>
                    <div class="shift-info h-100 p-3">
                        <div class="shift-info__time">
                            7.50
                            <em>AM</em>
                            <span>-</span> 7.50
                            <em>PM</em>
                        </div>
                        <div class="shift-info__summery row align-items-center">
                            <div class="col-4">
                                <span>Weekly
                                    <br/>Summery</span>
                            </div>
                            <div class="col-4">
                                <div class="no-stats green-color">
                                    <div class="no-stats__big">40</div>
                                    <div class="no-stats__small">Normal
                                        <br/>Hours</div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="no-stats red-color">
                                    <div class="no-stats__big">40</div>
                                    <div class="no-stats__small">Overtime
                                        <br/>Hours</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-block">
                    <div id="v-cal" class="calander">
                        <div class="ui-block-title">
                            <h6 class="title">Weekly Schedule</h6>
                        </div>
                        <div class="vcal-header">
                            <button class="vcal-btn" data-calendar-toggle="previous">
                                <svg height="24" version="1.1" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z"></path>
                                </svg>
                            </button>

                            <div class="vcal-header__label" data-calendar-label="month">
                                March 2017
                            </div>


                            <button class="vcal-btn" data-calendar-toggle="next">
                                <svg height="24" version="1.1" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path>
                                </svg>
                            </button>
                        </div>
                        <div class="vcal-week">
                            <span>Mon</span>
                            <span>Tue</span>
                            <span>Wed</span>
                            <span>Thu</span>
                            <span>Fri</span>
                            <span>Sat</span>
                            <span>Sun</span>
                        </div>
                        <div class="vcal-body" data-calendar-area="month"></div>
                    </div>
                    <p class="demo-picked p-3">
                        <span data-calendar-label="picked"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}