<!-- Modal Profile Pic -->
<div class="modal fade" id="profilePic" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg full-modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Change your profile picture</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6 col-xs-12">
                            <label class="text-center w-100">Open your webcam and take a photo</label>
                            <div class="webcam-snap">
                                <!-- First, include the Webcam.js JavaScript Library  -->
                                <script type="text/javascript" src="js/webcam/webcam.min.js"></script>
                                <script>
                                    // // Configure a few settings and attach camera

                                    // Webcam.set({
                                    //     width: 320,
                                    //     height: 240,
                                    //     image_format: 'jpeg',
                                    //     jpeg_quality: 90
                                    // });
                                    // Webcam.attach('#my_camera');

                                    // function take_snapshot() {
                                    //     // take snapshot and get image data
                                    //     Webcam.snap(function (data_uri) {
                                    //         // display results in page
                                    //         document.getElementById('results').innerHTML =
                                    //             '<h2>Here is your image:</h2>' +
                                    //             '<img src="' + data_uri + '"/>';
                                    //     });
                                    // }

                                    // upload file
                                    'use strict';;
                                    (function (document, window, index) {
                                        var inputs = document.querySelectorAll('.inputfile');
                                        Array.prototype.forEach.call(inputs, function (input) {
                                            var label = input.nextElementSibling,
                                                labelVal = label.innerHTML;

                                            input.addEventListener('change', function (e) {
                                                var fileName = '';
                                                if (this.files && this.files.length > 1)
                                                    fileName = (this.getAttribute('data-multiple-caption') || '').replace('{count}',
                                                        this.files.length);
                                                else
                                                    fileName = e.target.value.split('\\').pop();

                                                if (fileName)
                                                    label.querySelector('span').innerHTML = fileName;
                                                else
                                                    label.innerHTML = labelVal;
                                            });

                                            // Firefox bug fix
                                            input.addEventListener('focus', function () {
                                                input.classList.add('has-focus');
                                            });
                                            input.addEventListener('blur', function () {
                                                input.classList.remove('has-focus');
                                            });
                                        });
                                    }(document, window, 0));
                                </script>
                                <div id="my_camera"></div>
                                <!-- A button for taking snaps -->
                                <form class="text-center">
                                    <input type=button value="Take Snapshot" class="btn btn-outline-primary" onClick="take_snapshot()">
                                </form>
                            </div>
                        </div>
                        <div class="col-6 col-xs-12">
                            <label class="text-center w-100">Upload a photo from your hard drive</label>
                            <div class="upload-photo">
                                <div class="box js">
                                    <form class="text-center">
                                        <input type="file" name="file-5[]" id="file-5" class="inputfile inputfile-4" data-multiple-caption="{count} files selected"
                                            multiple />
                                        <label for="file-5">
                                            <figure>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                                                    <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"
                                                    />
                                                </svg>
                                            </figure>
                                            <span>Choose a file&hellip;</span>
                                        </label>

                                        <input type=button value="Change Profile Pic" class="btn btn-outline-primary">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>