<!DOCTYPE html>
<html lang="en">

<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <script src="js/pace.min.js"></script>
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- build:css css/main.min.css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="css/sweetalert2.min.css">
    <link href="css/main.css" rel="stylesheet">
    <!-- endbuild -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> 
</head>

<body>

    <!-- Header Include -->
    {% include "partials/header.html" %}
    <main>
        <!-- SIdebar Include -->
        {% include "partials/help-sidebar.html" %}

        <!-- Body Content -->
        {% block content %} {% endblock %}

        <footer>
            &copy;Copyrights 2018 Store Analyzer
        </footer>
    </main> 
    
    <!-- build:js js/scripts.min.js -->
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/sweetalert2.all.min.js"></script>
    <script src="js/jquery.steps.min.js"></script>
    <!-- endbuild -->
    <script src="js/main.js"></script> 

</body>

</html>